body{
  font: 15px/1.5 Montserrat, Montserrat, Montserrat;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.botao_1{
  height: 38px;
  background: #ffffff;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #33767c;
}

.dark{
  padding: 15px;
  background: #33767c;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header*/
header{
  background: #33767c;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #ffffff 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top:10px;
}

header .highlight, header .current a{
  color: #ffffff;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/* Showcase*/
#showcase{
  min-height: 400px;
  background: url("../images/background.jpg") ;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

/* Caixas */
#caixas{
  margin-top: 20px;
}

#caixas .caixa{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#caixas .caixa img{
  width: 90px;
}

/* Sidebar */
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .duvida input, aside#sidebar .duvida textarea{
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col{
  float: left;
  width: 65%;
}

/* Fichas */
ul#fichas li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #ffffff;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #33767c;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #caixas .caixa
    article#main-col,
    aside#sidebar{
      float: none;
      text-align: center;
      width: 100%;
    }

    header{
      padding-bottom: 20px;
    }

    #showcase h1{
      margin-top: 40px;
    }
}
