/*start login form*/
#login_form{
  padding: 25px;
  width: 350px;
  margin-left: auto;
  background: #5499c7;
  text-align: center;
  position: relative;
  transition: all ease-in-out .2s;
  top: -415px;
}
#login_form h1{
  margin-top: 0;
  color: #ffffff;
}
#login_list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
#login_list .txt{
  height: 25px;
  width: 250px;
  margin-bottom: 20px;
  padding: 3px 2px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}
#login_list p{
  font-size: 20px;
  color: #ffffff;
}
#login_list .button{
  width: 150px;
  height: 30px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  background: #ffeb3be6;
  cursor: pointer;
}
#login_form a{
  color: #ffffff;
  font-size: 20px;
}
#check{
  display: none;
}
label #btn, label #cancel{
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}
label #btn{
  right: 2pc;
  top: 20px;
  font-size: 20px;
  color: #ffffff;
  padding: 6px 10px;
  transition: all.2s ease;
}
label #cancel{
  z-index: 1111;
  right: 1pc;
  top: -30px;
  font-size: 20px;
  color: #ffffff;
  padding: 3px 9px;
  transition: all .2s ease;
}
#check:checked ~ #login_form{
  top: 0;
}
#check:checked ~ label #btn{
  right: 0px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  top: 55px;
}
